{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-header bg-white">
      <h1 class="text-center"> MY BOOKING </h1>

    </div>
    <div class="card-body">

      {% for message in messages %}
      <div class="alert alert-info" role="alert">
        {{ message }}
      </div>
      {% endfor %}
      <div class="table-responsive">
        <table class="table table-bordered" id="myTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Full_Name</th>
              <th>Email_Id</th>
              <!-- <th>Gender</th> -->
              <th>Mobile_Number</th>
              <th>Destination</th>
              <th>Address</th>
              <th>Total_Price</th>
              <th>Booking_Date</th>
              <th>Used_Facility</th>
              <th>Action</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>

            {% for i in data %}
            <tr>

              <td>{{i.id}}</td>
              <td>{{i.Fname}} {{i.Lname}}</td>
              <td>{{i.Email}}</td>
              <!-- <td>{{i.gender}}</td> -->
              <td>{{i.number}}</td>
              <td>{{i.destination}}</td>
              <td>{{i.address}}</td>
              <td>{{i.price}}</td>
              <td>{{i.date}}</td>
              <td>{{i.used_facility}}</td>

              <td><a href="{% url 'delete_booking' i.id %}" onclick="return confirm('Are you sure?')"><button
                    class="btn btn-danger">delete</button></a></td>
              <td>
                {% if i.status == "Approved" %}
                <span style="color: green; font-weight: bold;">Approved ✅</span>
                {% elif i.status == "Declined" %}
                <span style="color: red; font-weight: bold;">Declined ❌</span>
                {% else %}
                <span style="color: orange; font-weight: bold;">Pending ⏳</span>
                {% endif %}
              </td>
            </tr>

            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>

{% for i in messages %}
<script>
  alert("{{i}}")
</script>
{% endfor %}
{% endblock %}