{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="site-section">
  <div class="container mt-3">
    <div class="card">
      <div class="card-header bg-white">
        <h1 class="text-center"> VIEW All REG. USERS</h1>

      </div>
      <div class="card-body">
        <table class="table table-bordered" id="myTable">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Full Name</th>

              <th>Email Id</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            {% for i in user %}
            <tr>

              <td>{{forloop.counter}}</td>
              <td>{{i.first_name}} {{i.last_name}}</td>

              <td>{{i.email}}</td>
              <td><a href="{% url 'delete_user' i.id %}" onclick="return confirm('Are you sure?')"><button
                    class="btn btn-danger">delete</button></a></td>
            </tr>

            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
{% for i in messages %}
<script>
  alert("{{i}}")
</script>
{% endfor %}
{% endblock %}